{% extends 'base.html.twig' %}

{% block title %}Compte{% endblock %}

{% block body %}
    <div class="container py-5">
        <h2 class="text-primary">COMPTE</h2>
        <p class="mb-4">
            <strong>{{ user.firstName }} {{ user.lastName }}</strong><br>
            {{ user.email }}
        </p>

        <h4 class="mt-5 mb-3 text-center">MES POSTS</h4>
        {% for post in posts %}
            <div class="card mb-4 shadow-lg border-0 rounded-4 overflow-hidden"
                 onclick="redirectToPost(event, '{{ path('app_post_show', {'id': post.id}) }}')"
                 style="cursor: pointer;">
                <div class="card-body">
                    <div class="d-flex justify-content-between mb-2">
                        <div>
                            <strong>{{ user.fullName }}</strong>
                            <small class="text-muted d-block">{{ post.createdDate|date('d.m.Y H:i') }}</small>
                        </div>
                        <span class="text-muted"><i class="bi bi-chat-dots"></i> {{ post.comments|length }}</span>
                    </div>

                    <p class="mb-3">{{ post.description }}</p>
                    {% if post.picture %}
                        <i class="bi bi-image text-primary"></i>
                    {% endif %}

                    <div class="text-end mt-3">
                        <form method="post" action="{{ path('app_post_delete', { id: post.id }) }}">
                            <button class="btn btn-outline-danger btn-sm">Supprimer mon post</button>
                        </form>
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-muted text-center">Vous n'avez pas encore publié de post, <a href="{{ path('app_post') }}" class="text-primary">publiez-en un</a>.</p>
        {% endfor %}

        <h4 class="mt-5 mb-3 text-center">
            {% if 'ROLE_ADMIN' in user.roles %}
                MES ÉVÈNEMENTS CRÉÉS
            {% else %}
                MES ÉVÈNEMENTS
            {% endif %}
        </h4>

        {% for event in events %}
            <div class="card mb-4 shadow-lg border-0 rounded-4 overflow-hidden"
                 onclick="redirectToEvent(event, '{{ path('app_event_show', {'id': event.id}) }}')"
                 style="cursor: pointer;">
                <div class="card-body">
                    <h5 class="card-title">{{ event.title }}</h5>
                    <p class="card-text text-muted">
                        <i class="bi bi-calendar-event"></i>
                        {{ event.eventDate|date('d F Y H:i', 'Europe/Paris') }}
                        - {{ (event.eventDate|date_modify("+" ~ event.duration ~ " hours"))|date('H:i') }}
                    </p>
                    <div class="text-end">
                        {% if 'ROLE_ADMIN' in user.roles %}
                            <form method="post" action="{{ path('app_admin_event_delete', { id: event.id }) }}">
                                <button class="btn btn-outline-danger btn-sm">Supprimer</button>
                            </form>
                        {% else %}
                            <form method="post" action="{{ path('app_event_cancel', { id: event.id }) }}">
                                <button class="btn btn-outline-danger btn-sm">Annuler ma participation</button>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <p class="text-muted text-center">
                {% if 'ROLE_ADMIN' in user.roles %}
                    Vous n'avez pas encore créé d'événement, <a href="{{ path('app_event_create') }}" class="text-primary">créez-en un</a>.
                {% else %}
                    Vous ne vous êtes pas encore inscrit à un évènement, <a href="{{ path('app_events') }}" class="text-primary">inscrivez-vous</a>.
                {% endif %}
            </p>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        function redirectToPost(event, url) {
            // Vérifie si l'élément cliqué est un bouton, un lien, un champ de commentaire ou son label ou son image
            const isButtonOrLink = event.target.closest('button') || event.target.closest('a');
            const isCommentFieldOrLabel = event.target.closest('label') || event.target.closest('textarea');
            const isImage = event.target.closest('img');

            // Si l'élément cliqué est un bouton, un lien, un champ de commentaire ou un label, on arrête l'événement
            if (isButtonOrLink || isCommentFieldOrLabel || isImage) {
                event.stopPropagation(); // Empêche l'événement de remonter et de déclencher la redirection
                return;
            }

            // Sinon, on redirige vers l'URL du post
            window.location.href = url;
        }

        function redirectToEvent(event, url) {
            // Vérifie si l'élément cliqué est un bouton, un lien, un champ de commentaire ou son label ou son image
            const isButtonOrLink = event.target.closest('button') || event.target.closest('a');
            const isCommentFieldOrLabel = event.target.closest('label') || event.target.closest('textarea');
            const isImage = event.target.closest('img');

            // Si l'élément cliqué est un bouton, un lien, un champ de commentaire ou un label, on arrête l'événement
            if (isButtonOrLink || isCommentFieldOrLabel || isImage) {
                event.stopPropagation(); // Empêche l'événement de remonter et de déclencher la redirection
                return;
            }

            // Sinon, on redirige vers l'URL de l'évènement
            window.location.href = url;
        }

        // Message de confirmation avant de supprimer un post et d'annuler un évènement
        document.addEventListener("DOMContentLoaded", function () {
            const deleteButtons = document.querySelectorAll('form[action*="delete"]');
            const cancelButtons = document.querySelectorAll('form[action*="cancel"]');

            deleteButtons.forEach(button => {
                button.addEventListener('submit', function (event) {
                    const confirmation = confirm("Êtes-vous sûr de vouloir supprimer ce post ?");
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            });

            cancelButtons.forEach(button => {
                button.addEventListener('submit', function (event) {
                    const confirmation = confirm("Êtes-vous sûr de vouloir annuler votre participation à cet évènement ?");
                    if (!confirmation) {
                        event.preventDefault();
                    }
                });
            });
        });
    </script>
{% endblock %}
